data/cache/*
data/raw/openMIC/vggish/*
data/tmp/*
*.npy
*.npz
*.pickle
*.ogg
*.wav
*.mp3
*.hdf5
*.h5
*.pt
*.csv
.idea
mongodb.json
telegram.json
!data/tmp/mi_da
!data/tmp/mse_da_0
!data/tmp/mse_da_1
!data/tmp/no_da
__pycache__
